node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/.vs/mf.owncircles.com/CopilotIndices/17.14.1530.14912/CodeChunks.db
*.db-shm
/.vs/mf.owncircles.com/CopilotIndices/17.14.1530.14912/CodeChunks.db-wal
/.vs/mf.owncircles.com/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
/.vs/mf.owncircles.com/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-wal
/.vs/mf.owncircles.com/v17/.wsuo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/public/bfeda5c9d23544d5a837a93d5fe31830.txt
/.vs/mf.owncircles.com/FileContentIndex/22c13e4a-d7e7-4a30-8b6d-f426e758198c.vsidx
/.vs/mf.owncircles.com/FileContentIndex/399d29d8-88c9-4a20-aaca-7b095f312a2b.vsidx
/.vs/mf.owncircles.com/FileContentIndex/303aaf34-0347-4b8e-8591-80ddf72a03e4.vsidx
/.vs/mf.owncircles.com/FileContentIndex/3eadf392-9453-4867-a71e-21b81a41b0fc.vsidx
/.vs/mf.owncircles.com/FileContentIndex/69853089-3a6f-4442-8f74-296478093620.vsidx
/.vs/mf.owncircles.com/FileContentIndex/9f6e79d5-9a12-4b83-b70a-f954122ca0fb.vsidx
/.vs/mf.owncircles.com/FileContentIndex/bac780ee-4ce5-45d3-9485-b15ba346d028.vsidx
/.vs/mf.owncircles.com/FileContentIndex/9314bdaf-7b4c-415d-9ff2-48defa88ee55.vsidx
/.vs/mf.owncircles.com/FileContentIndex/50e51509-f9d2-4443-a175-a5a867be6cc0.vsidx
/.vs/mf.owncircles.com/FileContentIndex/5ba2220b-e15d-493e-95e4-619ff47e7ca4.vsidx
/.vs/mf.owncircles.com/FileContentIndex/137e8514-395e-4f56-a1ce-3b1708981cda.vsidx
/.vs/mf.owncircles.com/FileContentIndex/8550b489-94cb-43dd-b002-97b24afae366.vsidx
/.vs/mf.owncircles.com/FileContentIndex/fb961af5-e0eb-4584-b2b6-0b6ee07e857c.vsidx
/.vs/mf.owncircles.com/FileContentIndex/f6fbcdc6-5e51-419b-baeb-d84302244ae0.vsidx
/.vs/mf.owncircles.com/FileContentIndex/51a29a3c-b5d1-42a1-aed0-178f5775b7d2.vsidx
/.vs/mf.owncircles.com/FileContentIndex
